@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

.Heading{
  padding:10px;
  text-align:center;
  background-color: blueviolet;
  color:aliceblue;
  text-transform: uppercase;
  font-weight:800;
  font-size: 18px;
}
.form-block{
padding:20px;


}
.form-control{
  padding:10px;
  margin: 10px;
}
.form-submit{text-align: center;margin:10px;}
.navigatebtn{cursor: pointer;font-size: 40px;background-color:blueviolet;color: aliceblue;
              margin:20px 10px;}
.productheader{background-color: blueviolet;color:#ffffff;}